*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    height: 100vh;
    font-family: Arial, sans-serif;
    /*TODO: set min-height:   */
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .elementDecision{
    border-radius: 10px;
    border: 4px solid #89cff0;
    background-color: white;
    padding: 10px;
    height: 600px;
    flex-direction: column;
   justify-content: center;
   display: flex;
 }

 .elementDecision header{
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
 }

 .elementDecision header .title{
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
 }

 .elementDecision header .element{
    text-align: center;
 
 }

 .elementDecision .imgParent {
    min-width: 350px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .elementDecision form {
    height: 50px;
    display: flex;
 }

.elementDecision form input{
    width: 80%;    
    height: 100%;
    padding: 10px;
    font-size: 20px;
}

.elementDecision form button{
    border: none;
    width: 20%;
    height: 100%;
    background-color: #89cff0;
    cursor: pointer;
}

.elementDecision .score-container {

   height: 70px ;
   justify-content:center;
   align-items: center;
   display: flex;

}


.loader-container {
    background-color: white;
    height: 600px;
    width: 378px;
    border-radius: 10px;
    border: 4px solid #89cff0;
    align-items: center;
    justify-content: center;
    display: none;
}

.loader-container .loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}

.result{    
    border-radius: 10px;
    border: 4px solid #89cff0;
    background-color: white;
    padding: 50px 10px;
    height: 600px;
    width: 450px;
    display: none;
}

.result header{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
gap: 11px;
height: 150px;
}

.result header .title{

   color: green;
}

.result p{
text-align: center;
padding: 0 12px;
margin-top: 10px;
}

.result .images-container{

   height: 180px;
   display: flex;
   justify-content: center;
   gap: 25px;
   align-items: center;

}

.result footer {

   display: flex;


}
.result footer .score-container {
width: 70%;
min-height: 68px;
display: flex;
justify-content: center;
align-items: center;


}

.result footer .score-container .score-title {

margin-top: 0;

}

.result footer .score-container .score-number {


  

}

.result footer button{

width: 90px;
height: 68px;
background-color: pink;
border: none; 
border-radius: 5px;
cursor: pointer;
transition: box-shadow 0.3s ease-in-out;
}

.result footer button:hover{

   box-shadow: 0 12px 16px 0 rgba(211, 80, 181, 0.24), 0 17px 50px 0 rgba(221, 106, 205, 0.19);


}

.ngt-result{    
   border-radius: 10px;
   border: 4px solid #89cff0;
   background-color: white;
   padding: 50px 10px;
   height: 600px;
   width: 450px;
   display: none;
   
}

.ngt-result header{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
gap: 11px;
height: 150px;
}

.ngt-result header .ngt-title{

  color: red;
}

.ngt-result p{
text-align: center;
padding: 0 12px;
margin-top: 10px;
}

.ngt-result .ngt-images-container{

  height: 180px;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;

}

.ngt-result footer {

  display: flex;


}
.ngt-result footer .ngt-score-container {
width: 70%;
min-height: 68px;
display: flex;
justify-content: center;
align-items: center;


}

.ngt-result footer .ngt-score-container .ngt-score-title {

margin-top: 0;

}


.ngt-result footer button{

width: 90px;
height: 68px;
background-color: pink;
border: none; 
border-radius: 5px;
cursor: pointer;
transition: box-shadow 0.3s ease-in-out;
}

.ngt-result footer button:hover{

  box-shadow: 0 12px 16px 0 rgba(211, 80, 181, 0.24), 0 17px 50px 0 rgba(221, 106, 205, 0.19);


}

