*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    height: 100vh;
    font-family: Arial, sans-serif;
    /*TODO: set min-height:   */
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .elementDecision{
    display: none;
    border-radius: 10px;
    border: 4px solid #89cff0;
    background-color: white;
    padding: 10px;
 }

 .elementDecision header{
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
 }

 .elementDecision header .title{
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
 }

 .elementDecision header .element{
    text-align: center;
 
 }

 .elementDecision .imgParent {
    min-width: 350px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .elementDecision form {
    height: 50px;
    display: flex;
 }

.elementDecision form input{
    width: 80%;    
    height: 100%;
    padding: 10px;
    font-size: 20px;
}

.elementDecision form button{
    border: none;
    width: 20%;
    height: 100%;
    background-color: #89cff0;
    cursor: pointer;
}

.loader-container {
    background-color: white;
    height: 401.2px;
    width: 378px;
    border-radius: 10px;
    border: 4px solid #89cff0;
    display: none;
    align-items: center;
    justify-content: center;
}

.loader-container .loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}

.result{    
    border-radius: 10px;
    border: 4px solid #89cff0;
    background-color: white;
    padding: 10px;
    height: 401.2px;
    width: 378px;
}

